
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer
{
    background-color:#eee;
}


address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    
    margin:0px;
    
}



.nav-link,.ml-auto{
    margin-right:20px;
    text-align: end;
    margin-left:20px;
    
    
}


 .social-circle a:hover i{
    
    transform:rotate(360deg);
    transition: all 0.75s;
}

 .social-circle i{
color:black;
 transition:  0.75s; 
}

.anim:hover{
transform:rotate3d(1,1,1,360deg);
transition: all 0.75s;
}